body {
    height: 200vh;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 15px;
    text-align: center;
    font-size: 60px;
}

#Capitals {
    padding: 100px;
    padding-top: 150px;
    font-size: 30px;
    column-count: 2;
    gap: 20px;
}